{% extends './admin/base.html' %} {% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Thêm tệp gợi ý</h1>
    <p class="mb-4">Thêm các tệp gợi ý theo mong muốn của QTV</p>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                Thêm tệp gợi ý {% with messages = get_flashed_messages() %} {%
                if messages %} {% for message in messages %}
                <span class="text-danger">({{message}})</span>
                {% endfor %} {% endif %} {% endwith %}
            </h6>
        </div>
        <div class="card-body">
            <form class="user" method="POST" enctype=multipart/form-data>
                <div class="form-group">
                    <div
                        class="form-control form-control-user custom-wrapper-upload"
                    >
                        <input class="custom-upload-file" name="file" type="file" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="custom-control custom-switch">
                        <input
                            type="checkbox"
                            class="custom-control-input"
                            name="active"
                            id="active"
                            value="1"
                        />
                        <label class="custom-control-label" for="active"
                            >Kích hoạt tệp</label
                        >
                    </div>
                </div>
                <button
                    type="submit"
                    class="btn btn-primary btn-user btn-block"
                >
                    Tải tệp lên
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
