{% extends './admin/base.html' %} {% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">
            Dashboard {% with messages = get_flashed_messages() %} {% if
            messages %} {% for message in messages %}
            <span class="text-danger">({{message}})</span>
            {% endfor %} {% endif %} {% endwith %}
        </h1>
        <a
            href="#"
            onclick="window.print()"
            class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
            ><i class="fas fa-download fa-sm text-white-50"></i> Tạo thống kê</a
        >
    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div
                                class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                            >
                                Số lượng quản trị viên
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {{userResult}} thành viên
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div
                                class="text-xs font-weight-bold text-success text-uppercase mb-1"
                            >
                                Số lượng nhà đang rao bán
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {{recommendAmount}} căn
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-home fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div
                                class="text-xs font-weight-bold text-info text-uppercase mb-1"
                            >
                                Lượt tìm kiếm gợi ý
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div
                                        class="h5 mb-0 mr-3 font-weight-bold text-gray-800"
                                    >
                                        {{clickResult[0]}} lượt
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-search fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div
                                class="text-xs font-weight-bold text-warning text-uppercase mb-1"
                            >
                                Thời gian bây giờ là
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                <div id="dong_ho">
                                    <div id="thoi_gian">
                                        <span id="gio">00</span><span> :</span>
                                        <span id="phut">00</span><span> :</span>
                                        <span id="giay">00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="far fa-clock fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->

    <div class="row">
        <!-- Content Column -->
        <div class="col-xl-6 col-lg-12">
            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Lượt nhấn khi có kết quả
                    </h6>
                </div>
                <div class="card-body">
                    <h4 class="small font-weight-bold">
                        TOP 1
                        <span class="float-right"
                            >{{topClick[0]}}% (Trong tổng số
                            <span class="text-danger">
                                {{clickResult[1]}}/{{clickResult[0]}}
                            </span>
                            - lượt nhấn / lượt hiển thị)</span
                        >
                    </h4>
                    <div class="progress mb-4">
                        <div
                            class="progress-bar bg-danger"
                            role="progressbar"
                            style="width: {{topClick[0]}}%"
                            aria-valuenow="{{topClick[0]}}"
                            aria-valuemin="0"
                            aria-valuemax="100"
                        ></div>
                    </div>
                    <h4 class="small font-weight-bold">
                        TOP 2
                        <span class="float-right"
                            >{{topClick[1]}}% (Trong tổng số
                            <span class="text-danger">
                                {{clickResult[2]}}/{{clickResult[0]}}
                            </span>
                            - lượt nhấn / lượt hiển thị)</span
                        >
                    </h4>
                    <div class="progress mb-4">
                        <div
                            class="progress-bar bg-warning"
                            role="progressbar"
                            style="width: {{topClick[1]}}%"
                            aria-valuenow="{{topClick[1]}}"
                            aria-valuemin="0"
                            aria-valuemax="100"
                        ></div>
                    </div>
                    <h4 class="small font-weight-bold">
                        TOP 3
                        <span class="float-right"
                            >{{topClick[2]}}% (Trong tổng số
                            <span class="text-danger">
                                {{clickResult[3]}}/{{clickResult[0]}}
                            </span>
                            - lượt nhấn / lượt hiển thị)</span
                        >
                    </h4>
                    <div class="progress mb-4">
                        <div
                            class="progress-bar"
                            role="progressbar"
                            style="width: {{topClick[2]}}%"
                            aria-valuenow="{{topClick[2]}}"
                            aria-valuemin="0"
                            aria-valuemax="100"
                        ></div>
                    </div>
                    <h4 class="small font-weight-bold">
                        TOP 4
                        <span class="float-right"
                            >{{topClick[3]}}% (Trong tổng số
                            <span class="text-danger">
                                {{clickResult[4]}}/{{clickResult[0]}}
                            </span>
                            - lượt nhấn / lượt hiển thị)</span
                        >
                    </h4>
                    <div class="progress mb-4">
                        <div
                            class="progress-bar bg-info"
                            role="progressbar"
                            style="width: {{topClick[3]}}%"
                            aria-valuenow="{{topClick[3]}}"
                            aria-valuemin="0"
                            aria-valuemax="100"
                        ></div>
                    </div>
                    <h4 class="small font-weight-bold">
                        TOP 5
                        <span class="float-right"
                            >{{topClick[4]}}% (Trong tổng số
                            <span class="text-danger">
                                {{clickResult[5]}}/{{clickResult[0]}}
                            </span>
                            - lượt nhấn / lượt hiển thị)</span
                        >
                    </h4>
                    <div class="progress">
                        <div
                            class="progress-bar bg-success"
                            role="progressbar"
                            style="width: {{topClick[4]}}%"
                            aria-valuenow="{{topClick[4]}}"
                            aria-valuemin="0"
                            aria-valuemax="100"
                        ></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pie Chart -->
        <div class="col-xl-6 col-lg-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
                >
                    <h6 class="m-0 font-weight-bold text-primary">
                        Thống kê số lượng bản tin rao bán của từng quận
                    </h6>
                    <script>
                        var dataCountDistrict = {{dataCountDistrict}}
                    </script>
                    <div class="dropdown no-arrow">
                        <a
                            class="dropdown-toggle"
                            href="#"
                            role="button"
                            id="dropdownMenuLink"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                        >
                            <i
                                class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"
                            ></i>
                        </a>
                        <div
                            class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink"
                        >
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"
                                >Something else here</a
                            >
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-pie pt-4 pb-2">
                        <canvas id="myPieChart"></canvas>
                    </div>
                    <div class="mt-4 text-center small">
                        {% for i in range(0,9) %}
                        <span class="mr-2">
                            <i
                                class="fas fa-circle"
                                style="color:{{colorList[i]}}"
                            ></i>
                            {{districtList[i]}}
                        </span>
                        {%endfor%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->

{% endblock %}
