<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>FIHO - Hệ thống tư vấn gợi ý nhà ở</title>
        <link rel="icon" href="{{ url_for('static', filename='fiho.ico') }}" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Notable&display=swap"
            rel="stylesheet"
        />
        <script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
        <link
            href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
            integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style2.css') }}"
        />
    </head>
    <body>
        <div class="bg-image"></div>
        <!--Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/">
                <img
                    src="http://haianhnguyen.ml/img/logoinvisible.png"
                    width="50"
                    height="50"
                    class="d-inline-block align-top"
                    alt="FIHO"
                    style="transform: rotate(-15deg)"
                />
                <span style="color: #ea7020">FI</span
                ><span style="color: #1da1f2">HO</span></a
            >
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div
                class="collapse navbar-collapse justify-content-end"
                id="navbarSupportedContent"
            >
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/"
                            >Trang chủ <span class="sr-only">(current)</span></a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">Về tôi</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="navbarDropdown"
                            role="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                        >
                            Liên hệ
                        </a>
                        <div
                            class="dropdown-menu"
                            aria-labelledby="navbarDropdown"
                        >
                            <a
                                class="dropdown-item"
                                href="http://fb.com/vulythienanh"
                                target="_blank"
                                >Facebook</a
                            >
                            <a
                                class="dropdown-item"
                                href="mailto:haianh30198@gmail.com"
                                >Gmail</a
                            >
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="tel:0335832168"
                                >0335832168</a
                            >
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="/admin"
                            >Trang quản lý</a
                        >
                    </li>
                </ul>
            </div>
        </nav>
        <!-- END - Navbar -->
        <div class="container-fuild mb-3 pb-5">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <span class="title-custom"
                        >Ngôi nhà bạn mong muốn là gì? 🤔</span
                    >
                    <div class="card card-item mt-3">
                        <div class="card-body">
                            <form method="post">
                                <div class="form-row">
                                    <div class="form-group col-md-2">
                                        <label
                                            class="font-weight-bold"
                                            for="district"
                                            >Quận</label
                                        >
                                        <select
                                            class="form-control"
                                            name="district"
                                            id="district"
                                        >
                                            <option value="1">Ninh Kiều</option>
                                            <option value="2">Cái Răng</option>
                                            <option value="3">Bình Thủy</option>
                                            <option value="4">Ô Môn</option>
                                            <option value="5">Thốt Nốt</option>
                                            <option value="6">
                                                Vĩnh Thạnh
                                            </option>
                                            <option value="7">Thới Lai</option>
                                            <option value="8">Cờ Đỏ</option>
                                            <option value="9">
                                                Phong Điền
                                            </option>
                                        </select>
                                        <small class="form-text text-muted"
                                            >Hiện tại chúng tôi chỉ hỗ trợ các
                                            quận huyện ở thành phố Cần
                                            Thơ.</small
                                        >
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label
                                            class="font-weight-bold"
                                            for="price"
                                            >Giá</label
                                        >
                                        <select
                                            class="form-control"
                                            id="price"
                                            name="price"
                                        >
                                            <option value="0">
                                                Thỏa thuận
                                            </option>
                                            <option value="250000000">
                                                Dưới 500 triệu
                                            </option>
                                            <option value="650000000">
                                                500-800 triệu
                                            </option>
                                            <option value="900000000">
                                                800-1 tỷ
                                            </option>
                                            <option value="2000000000">
                                                1-3 tỷ
                                            </option>
                                            <option value="4000000000">
                                                3-5 tỷ
                                            </option>
                                            <option value="6000000000">
                                                5-7 tỷ
                                            </option>
                                            <option value="8500000000">
                                                7-10 tỷ
                                            </option>
                                            <option value="15000000000">
                                                10-20 tỷ
                                            </option>
                                            <option value="25000000000">
                                                20-30 tỷ
                                            </option>
                                            <option value="50000000000">
                                                Trên 30 tỷ
                                            </option>
                                        </select>
                                        <label
                                            class="font-weight-bold"
                                            for="priceUp"
                                            >Ưu tiên giá (<span
                                                class="text-danger"
                                                id="slider_label_price"
                                                >1</span
                                            >)</label
                                        >
                                        <input
                                            type="range"
                                            class="form-control-range"
                                            min="1"
                                            max="5"
                                            step="1"
                                            value="1"
                                            id="priceUp"
                                            name="priceUp"
                                        />
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label
                                            class="font-weight-bold"
                                            for="area"
                                            >Diện tích</label
                                        >
                                        <select
                                            class="form-control"
                                            id="area"
                                            name="area"
                                        >
                                            <option value="0">
                                                Chưa xác định
                                            </option>
                                            <option value="25">
                                                Dưới 30 m²
                                            </option>
                                            <option value="40">30-50 m²</option>
                                            <option value="60">50-70 m²</option>
                                            <option value="85">
                                                70-100 m²
                                            </option>
                                            <option value="125">
                                                100-150 m²
                                            </option>
                                            <option value="175">
                                                150-200 m²
                                            </option>
                                            <option value="250">
                                                200-300 m²
                                            </option>
                                            <option value="350">
                                                200-500 m²
                                            </option>
                                            <option value="750">
                                                500-1000 m²
                                            </option>
                                            <option value="1200">
                                                Trên 1000 m²
                                            </option>
                                        </select>
                                        <label
                                            class="font-weight-bold"
                                            for="areaUp"
                                            >Ưu tiên diện tích (<span
                                                class="text-danger"
                                                id="slider_label_area"
                                                >1</span
                                            >)</label
                                        >
                                        <input
                                            type="range"
                                            class="form-control-range"
                                            min="1"
                                            max="5"
                                            step="1"
                                            value="1"
                                            id="areaUp"
                                            name="areaUp"
                                        />
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label
                                            class="font-weight-bold"
                                            for="floors"
                                            >Số tầng</label
                                        >
                                        <select
                                            class="form-control"
                                            id="floors"
                                            name="floors"
                                        >
                                            <option value="0">
                                                Chưa xác định
                                            </option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">9+</option>
                                        </select>
                                        <label
                                            class="font-weight-bold"
                                            for="floorsUp"
                                            >Ưu tiên tầng (<span
                                                class="text-danger"
                                                id="slider_label_floors"
                                                >1</span
                                            >)</label
                                        >
                                        <input
                                            type="range"
                                            class="form-control-range"
                                            min="1"
                                            max="5"
                                            step="1"
                                            value="1"
                                            id="floorsUp"
                                            name="floorsUp"
                                        />
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label
                                            class="font-weight-bold"
                                            for="bedrooms"
                                            >Số phòng ngủ</label
                                        >
                                        <select
                                            class="form-control"
                                            id="bedrooms"
                                            name="bedrooms"
                                        >
                                            <option value="0">
                                                Chưa xác định
                                            </option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">9+</option>
                                        </select>
                                        <label
                                            class="font-weight-bold"
                                            for="bedroomsUp"
                                            >Ưu tiên phòng ngủ (<span
                                                class="text-danger"
                                                id="slider_label_beds"
                                                >1</span
                                            >)</label
                                        >
                                        <input
                                            type="range"
                                            class="form-control-range"
                                            min="1"
                                            max="5"
                                            step="1"
                                            value="1"
                                            id="bedroomsUp"
                                            name="bedroomsUp"
                                        />
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label
                                            class="font-weight-bold"
                                            for="direction"
                                            >Hướng nhà</label
                                        >
                                        <select
                                            class="form-control"
                                            id="direction"
                                            name="direction"
                                        >
                                            <option value="0">
                                                Chưa xác định
                                            </option>
                                            <option value="1">Đông</option>
                                            <option value="2">Tây</option>
                                            <option value="3">Nam</option>
                                            <option value="4">Bắc</option>
                                            <option value="5">Đông-Bắc</option>
                                            <option value="6">Tây-Bắc</option>
                                            <option value="7">Đông-Nam</option>
                                            <option value="8">Tây-Nam</option>
                                        </select>
                                        <label
                                            class="font-weight-bold"
                                            for="directionUp"
                                            >Ưu tiên hướng nhà (<span
                                                class="text-danger"
                                                id="slider_label_direc"
                                                >1</span
                                            >)</label
                                        >
                                        <input
                                            type="range"
                                            class="form-control-range"
                                            min="1"
                                            max="5"
                                            step="1"
                                            value="1"
                                            id="directionUp"
                                            name="directionUp"
                                        />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div
                                                class="input-group-text font-weight-bold"
                                            >
                                                Địa điểm lân cận
                                            </div>
                                        </div>
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="placesNearby"
                                            name="placesNearby"
                                            value="Nhà hàng, quán cà phê, công viên"
                                            placeholder="Nhà hàng, quán cà phê, công viên"
                                            required
                                        />
                                    </div>
                                    <small
                                        id="placesNearbyHelp"
                                        class="form-text text-muted"
                                        >Nhập địa điểm đại diện đừng nhập địa
                                        điểm riêng nha bạn.</small
                                    >
                                </div>
                                <div class="text-center">
                                    <button
                                        type="button"
                                        class="btn btn-info"
                                        id="button-submit"
                                    >
                                        Gợi ý nào !
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5" id="result">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <style>
                        #map {
                            height: 350px;
                            margin-top: 1rem !important;
                            border-radius: 0.25rem;
                            margin-left: 5px;
                            margin-right: 5px;
                        }
                    </style>
                    <span class="title-custom">
                        Đây là những ngôi nhà chúng tôi đang bán! 😋
                    </span>
                    <div id="map"></div>
                    <!-- Hiển thị tất cả nhà trên bản đồ -->
                    <script>
                        mapboxgl.accessToken =
                            "pk.eyJ1IjoidnVseXRoaWVuYW5oIiwiYSI6ImNrZXlhNXd3ZDBkb2Myd3AzYWRxaXhodnIifQ.de-6twccJ_8Jte2Iy5xVqg";

                            var map = new mapboxgl.Map({
                            container: "map",
                            style: "mapbox://styles/mapbox/streets-v11",
                            center: [105.7225509, 10.0342696],
                            zoom: 10,
                        });

                        {%for local in range(0,lengthLocation)%};
                        var marker{{local+1}} = new mapboxgl.Marker()
                            .setLngLat({{locationAll[local]}})
                            .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
                            .setHTML('<h6><a target="_blank" href="./detail/{{dataRaw[local][0]}}">' + '{{(dataRaw[local][1])[0:40]}}...' + '</a></h6><p>' + 'Giá: {{dataRaw[local][2]}} | Diện tích: {{dataRaw[local][3]}}' + '</p><p>'+ 'Số PN: {{dataRaw[local][4]}} | Số Tầng: {{dataRaw[local][5]}}' +'</p><p>'+'Hướng nhà: {{dataRaw[local][6]}}'+'</p>'))
                            .addTo(map);
                        {%endfor%};

                        // Add geolocate control to the map.
                        map.addControl(
                            new mapboxgl.GeolocateControl({
                                positionOptions: {
                                    enableHighAccuracy: true
                                },
                                trackUserLocation: true
                            })
                        );
                    </script>
                    <!-- END - Hiển thị tất cả nhà trên bản đồ -->
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer class="footer">
            <div class="container text-center">
                <span class="text-muted"
                    >© 2020 Copyright:
                    <a href="https://haianh.ml/"> Haianh.ML</a></span
                >
            </div>
        </footer>
        <!-- Footer -->
        <script
            src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"
        ></script>
        <script src="https://unpkg.com/uuid@latest/dist/umd/uuidv4.min.js"></script>
        <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/resultAjax.js') }}"></script>
    </body>
</html>
